{#
/**
 * @file workflow_history.html.twig
 * Default theme implementation to present Workflow History data.
 *
 * This template is used when viewing Workflow History pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_workflow_history()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('workflow_history') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
